#credentials {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  margin: 0;
  padding: 0;
}

#credentials > * {
  font-size: 0.66rem;
  margin: 0;
  padding: 0;
}

#credentials > * + * {
  margin-top: 0.5rem;
}
