#name-fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
}

#name-fieldset > .form-field {
  display: flex;
  flex-direction: column;
}

#contact-info .form-field > * + * {
  margin-top: 0.5rem;
}

.first-name {
  flex: 1 1 auto;
}

.last-name {
  flex: 4 1 auto;
}

#email-fieldset {
  position: relative;

  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
