#sign-up-form {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 2rem;

  max-width: 30rem;

  margin: 0 auto;
  padding: 2.5rem;

  border-radius: 4px;

  color: black;
  background-color: white;
  box-shadow: 0 0.75rem 3.5rem rgba(0, 0, 0, 0.2);
}

#sign-up-form > * + * {
  margin-top: 1.25rem;
}

#sign-up-form > fieldset {
  display: flex;
  flex-direction: column;

  padding: 1rem 0;
  border: none;
}

#sign-up-form > fieldset label {
  color: #666666;
}

@media all and (max-width: 450px) {
  #sign-up-form {
    margin: 0;
    padding: 2.5rem 1rem;
  }

  #sign-up-form > fieldset {
    max-width: 100%;
  }
}
