#topics {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 1.75rem;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

#topics > .topic {
  min-width: max-content;
  display: flex;
  align-items: center;
}
